*{
    margin:0;
    padding:0;
}

/*padding allows for a space to be applied around elements's contents*/

.background{
    background-image: url(resume_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;/*means that it will take up 100% of the height of the current viewport*/
}
/*above is a class that we are creating to style the background of our website*/
/*cover lets the browser know that the image should take up the entire container*/
/*repeat prevents the image from repeating if too big to fit on screen*/