*{
    margin:0;
    padding:0;
}

/*padding allows for a space to be applied around elements's contents*/

.background{
    background-image: url(Images/resume_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;/*means that it will take up 100% of the height of the current viewport*/
}
/*above is a class that we are creating to style the background of our website*/
/*cover lets the browser know that the image should take up the entire container*/
/*repeat prevents the image from repeating if too big to fit on screen*/

.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

nav{
    flex: 1;
    padding-left: 60px;
}
/*flex indicates how an item will grow or shrink in its container*/

.logo{
    width:110px; 
    height: 110px;
    cursor: pointer;
    margin: 20px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 90px;
}
/*display says if an element in block or inline, if inline elements go next to each other*/

nav ul li a{
    text-decoration: none;
    color: white;
    font-family: Fantasy;
    font-size: medium;
}

nav ul li a:hover{
    color:#73FA07;
}

.animated-me{
    height:75%;
    position: absolute;
    bottom: 0;
    right: 0%;
}

.content h3{
    text-decoration: none;
    color: white;
    font-family: Optima, sans-serif;
    font-weight: 100;
    font-size: 50px;
    margin-top: 15%;
    margin-left: 30%;
}
.content h2{
    text-decoration: none;
    color: white;
    font-family: Times, Times New Roman, serif;
    font-weight: 200;
    font-size: 150px;
    margin-top: 1%;
    margin-left: 10%;
}

#about_page{
    position: center;
    display:flex;
    justify-content: space-between;
    height: 80%;
    width: 96%;
}

#about_page img{
    height:70%;
    width:auto; /* auto calculates the height based on the browser size*/
    margin-left:3%;
    margin-top:3%;
    border-left: 3px solid rgb(255, 255, 255);
    border-top: 3px solid rgb(255, 255, 255);
    border-radius:30px; 
}

.about_text_box{
    width:67%;
    height: 100%;
    background-color:rgba(253, 253, 253, 0.1);
    border-radius:30px; 
    margin-left:3%;
    
}

.about_text_box h1 {
    color:aliceblue;

}

.about_text_box li{
    color:aliceblue;
    margin-bottom:1%;
    width:95%;
    word-wrap: break-word; /*this and the previous line prevents the text from running off the text box*/
}

/*project main*/
#project_grid{
    display:flex;
    flex-wrap:nowrap;
    flex-direction: rows;
    margin-top:220px;
    justify-content: space-between; /*to avoid the pictures taking up the entire screen you'll need to resize them as you see here*/
}



.grid_photos{
    height:auto;
    width:30%; 
    cursor:pointer;
}

.grid_photos:hover{
    flex-grow:1;
}

#resume_display{
    height: 84%;
}

#resume_display img{
    position: relative; /*stays in a fixed postion unless told otherwise*/
    left: 33%;
    height: auto;
    width: 35%;
    border: 2px solid #73FA07;
}

#download_button{
    position: relative;
    left: 3%;
    top: 5%;
    width: 25%;
    height:6%;
    background-color:#73FA07;
    border:1px solid black;
    cursor:pointer;
    transition:all 2s;
}

#download_button:hover{
    left:2%;
    width: 27%;
    background-color: black;
    color:#73FA07;
    border:1px solid #73FA07;
}

#download_button a{
    text-decoration: none;
    color:black
}


